<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sinema_Rezervasyon_Otomasyonu.Properties.Settings.sinemaConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\sinema.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>